.filters {
    position: sticky;
    z-index: 1;
    width: 180px;
    min-width: 180px;
    height: 100%;
    padding: 0 25px;
}

.filters h2 {
    color: #7d7a7a;
    font-size: 23px;
    font-weight: 700;
    margin: 30px 0 18px;
}

.filters label {
    width: 100%;
    display:flex;
    align-items:center;
    gap: 5px;
    height: 25px;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
}

.filters input {
    margin: 0;
    accent-color: gold;
}